body{
    background-color: #2e0000;
    font-family: Arial, sans-serif;
}

.container{
    width: 90%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 10px gray;
}

.header{
    background-color: #222;
    height: 70px;
}

.header h2{
    color: white;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.header ul{
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.header ul li{
    display: inline;
    margin-left: 20px;
}

.header ul li a{
    color: white;
    text-decoration: none;
}

.header ul li a:hover{
    color: rgb(5, 13, 99);
}

.content{
    height: 500px;
    padding: 50px;
}

.text{
    width: 50%;
    float: left;
}

.text h3{
    color: rgb(11, 53, 151);
}

.text h1{
    font-size: 45px;
}

.text p{
    color: gray;
}

button{
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 183, 255);
}

.gambar{
    width: 40%;
    float: right;
    text-align: center;
}

.gambar img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 10px solid rgb(0, 191, 255);
    margin-top: 30px;
}